coverfix(url)
	background url(url) no-repeat center fixed 
	-webkit-background-size cover
	-moz-background-size    cover
	-o-background-size      cover
	background-size         cover
cover(url)
	background url(url) no-repeat center 
	-webkit-background-size cover
	-moz-background-size    cover
	-o-background-size      cover
	background-size         cover
box-shadow(str)
	-webkit-box-shadow str
	-moz-box-shadow str
	box-shadow str
transition(str)
	-webkit-transition str
	-moz-transition str
	transition str
text-shadow(str)
	-webkit-text-shadow str
	-moz-text-shadow str
	text-shadow str
vertical-middle(str)
	-webkit-transform translateY(str) !important
	-moz-transform translateY(str) !important
	transform translateY(str) !important