.wrapper
	overflow hidden
	position relative
	center(rem(1170px))
	padding rem(0 15px)
	height 100%
	&--full
		position relative
		overflow hidden
		center(100%)
.underline
	width rem(100px)
	height rem(1px)
	background-color $redcustom3
.controls,
.controls-title
	.button
		font-size rem(14px)
		font-weight $font-extra
		color $white
		text-decoration none
		background-color $bluecustom2
		padding rem(5px 10px)
		line-height 0
.controls-title
	position absolute
	bottom 0
	right 0
	.button
		background-color transparent
		font-weight $font-normal
		&:hover
			border-top rem(4px) solid $bluecustom2
			color $bluecustom2
+below(rem(970px))
	.hidden-desktop
		display none !important
+below(rem(768px))
	.hidden-tablet
		display none !important
+below(rem(480px))
	.hidden-mobile
		display none !important
		

@keyframes rotateplane {
	0% {
		top rem(10px)
	}
	100% {
		top rem(25px)
	}
}
+above(rem(768px))
	.mouse
		position absolute
		bottom rem(15px)
		left 50%
		margin-left rem(-12.5px)
		z-index 1
		width rem(25px)
		height rem(45px)
		border rem(2px) solid $white
		border-radius rem(12px)
		&:after
			content ''
			position absolute
			height rem(5px)
			width rem(5px)
			background-color $white
			border-radius 100%
			left 50%
			margin-left rem(-2.5px)
			top rem(10px)
			-webkit-animation rotateplane 2s infinite
			animation rotateplane 2s infinite
.cover
	background-position center
	background-repeat no-repeat
	background-size cover
	&-fixed
		@extend .cover
		background-attachment fixed
.page-header
	padding rem(25px 0)
	margin 0
	display block
	text-align center
	border 0
	h1
		font-size rem(36px)
		text-align center
		text-transform uppercase