meyer-reset()
box-sizing-reset()
normalize()
*
	outline 0
body
	font-family 'Open Sans', sans-serif
	line-height 1
img
	max-width 100%
p
	margin rem(1px 1px 10px 1px)
	&:last-child
		margin-bottom 0
figure
	margin 0