// Colors
$white = #FFF
$black = #000
$redcustom1 = #3f0606
$redcustom2 = #5e0c0c
$redcustom3 = #bb0411
$redcustom4 = #c3092c
$redcustom5 = #840517
$bluecustom1 = #010d1c
$bluecustom2 = #41c7fc
$bluecustom3 = #164c7a
$bluecustom4 = #183650
$bluecustom5 = #333a6a
$graycustom1 = #dededf
$graycustom2 = #5e5d5d
$graycustom3 = #efecec
$graycustom4 = #676666
// Weight
$font-light = 300
$font-normal = 400
$font-semi = 600
$font-bold = 700
$font-extra = 800