.button-1
	display inline-block
	padding rem(8px 50px)
	margin rem(5px 0)
	font-size rem(14px)
	font-weight $font-extra
	color $white
	background-color transparent
	border rem(2px) solid $redcustom3
	text-decoration none
	&:hover
	&:focus
		text-decoration none
		color $white
	