.mod-pessoas
	padding rem(50px 10px)
	background-color $bluecustom5
	background-image url('../images/background-equipe.jpg')
	font-size rem(15px)
	color $white
	line-height 1.4
	.underline
		margin 0 auto
		height rem(3px)
		background-color $white
	.content
		padding rem(15px)
		+between(rem(480px), rem(767px))
			column(1/2, gutter: 0, cycle: 3)
		+above(rem(768px))
			column(1/4, gutter: 0, cycle: 5)
		.description
			display block
			+above(rem(768px))
				padding rem(10px)
			.nome
				display block
				font-size rem(18px)
				font-weight $font-bold
				text-transform uppercase
			.cargo
				font-size rem(14px)
			&-content
				margin-top rem(15px)