.mod-page
	font-size rem(16px)
	line-height 1.3
	color $graycustom2
	.page-content
		background-image url('../images/background-o-que-somos.jpg')
		padding rem(50px 10px)
		text-align center
		.wrapper
			center(rem(768px))
		.underline
			margin 0 auto
			height rem(3px)
			margin-bottom rem(15px)
		h1
			font-size rem(24px)
			font-weight $font-normal
			color $redcustom3
		p
			font-size rem(15px)
			margin-bottom rem(15px)
			&:last-child
				margin-bottom 0	
			a
				@extend .button-1
				padding rem(5px 25px)
				font-weight $font-semi
				color $redcustom3
				&:hover
					background-color $redcustom3
					color $white
	&.o-que-fazemos
		padding 0
	&.trabalhe-conosco
		color $white
		.page-content
			cover('../images/background-trabalhe-conosco.jpg')