.slider-clients-wrapper
	background-color $graycustom1
	padding rem(70px 10px)
	.item
		text-align center
		height 100%
		margin 0 auto
		img
			display inline-block
			max-width 100%
			width auto
			max-height rem(40px)
			-webkit-filter grayscale(100%)
			filter grayscale(100%)
			opacity .8
			