.mod-banner-page
	position relative
	margin 0
	padding 0
	min-height 96vh
	height 100%
	max-height 768px
	@extend .cover-fixed
	text-align center
	&-post
		min-height rem(400px)
	.banner-caption
		vertical-center(-50%)
		.underline
			margin 0 auto
			height rem(2px)
		h1
			font-size rem(32px)
			font-weight $font-bold
			color $white
			text-transform uppercase