.pagination-wrap
	clear both
	text-align center
	.page-numbers
		color $white
		li
			display inline-block
		a
			display inline-block
			margin-right rem(3px)
			padding rem(3px 5px)
			background-color $bluecustom4
			&:last-child
				margin 0
		&.current
			margin-right rem(3px)
			padding rem(3px 5px)
			font-weight $font-bold
			background-color $redcustom4