#slider-services
	column(1/1)
	+above(rem(768px))
		column(8/12)
	.owl-dots .owl-dot span
		width rem(6px)
		height rem(6px)
		background-color transparent
		border rem(1px) solid $bluecustom2
	.owl-dots .owl-dot.active span
		width rem(6px)
		height rem(6px)
		background-color $bluecustom2
	.item
		font-size rem(14px)
		color $white
		line-height 1.5
		padding rem(0 25px)
		.icon
			margin 0
			text-align center
			display block
			padding-bottom rem(25px)
			img
				max-width rem(50px)
		h1
			font-size rem(14px)
			font-weight $font-semi
			color $bluecustom2
			line-height 1.1
		a
			display inline-block
			padding-top rem(20px)
			color $bluecustom2
			text-transform uppercase
			text-decoration none
			.icon
				display inline-block
				font-size rem(10px)
				color $white
				