.page-header {
  padding: 0;
  border: 0;
  margin: 0;
}
.page-header h2 {
  font-weight: 100;
}
.no-gutter {
  padding: 0;
}
.container--parallax {
  position: fixed;
  top: 0;
  z-index: 0;
}
.clear {
  clear: both;
}
.uppercase {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}
.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.bx-wrapper {
  margin: 50px auto 15px auto !important;
  text-align: center;
}
.bx-wrapper img {
  display: inline-block;
}
.bx-viewport {
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none;
  text-align: center;
  width: 90% !important;
  margin: 0 auto;
}
.stroke-sections {
  float: left;
  width: 100%;
}
.stroke-sections img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}
.gutter {
  padding: 0 15px;
}
.gutter--full {
  padding: 15px;
}
.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.underline {
  font-size: 0;
  width: 115px;
  height: 2px;
  display: inline-block;
}
.underline-black {
  background-color: $customblack1;
}
.divider:after,
.divider:before {
  z-index: 5;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}
.border-radius {
  border-radius: 50%;
}
.fast,
-webkit-animation-duration 1s,
-webkit-animation-delay 0s,
animation-duration 1s,
animation-delay 0s,
.slow {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  animation-duration: 3s;
  animation-delay: 1s;
}
.body {
  margin-top: 65px;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
}
h2 {
  font-size: 1em;
  font-weight: 400;
}
p {
  font-size: 0.9em;
  line-height: 1.2;
  padding: 5px 0;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
}
section {
  position: relative;
}
.ui-loader {
  height: 0;
  overflow: hidden;
}
strong {
  font-weight: 700;
}
img {
  max-width: 100%;
}
em {
  color: #008000;
}
